.login-page-container {
  display: flex;
  justify-content: center;
}

.login-all-users {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  justify-items: center;
  border-radius: 5px;
}
